@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["items"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="/MyHome/Hello" method="POST">
        id<input type="text" name="id" />
        name<input type="text" name="name" />
        property<input type="text" name="property" />
        <input type="submit" value="送出" />
    </form>
    <h2>Selection</h2>

    @for (var i = 0; i < 20; i++){
    <select class="form-control" asp-items='ViewData["items"] as List<SelectListItem>'></select>
    }
    <hr />
    
</div>
